/* Starter CSS for Flyout Menu */
#css-side-menu,
#css-side-menu ul,
#css-side-menu ul li,
#css-side-menu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
#css-side-menu ul {
  position: relative;
  z-index: 597;
  float: left;
}
#css-side-menu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
}
#css-side-menu ul li.hover,
#css-side-menu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#css-side-menu ul ul {
  margin-top: 1px;
  visibility: hidden;
  position: absolute;
  top: 1px;
  left: 99%;
  z-index: 598;
  width: 100%;
}
#css-side-menu ul ul li {
  float: none;
}
#css-side-menu ul ul ul {
  top: 1px;
  left: 99%;
}
#css-side-menu ul li:hover > ul {
	display: block;	
  visibility: visible;
}
#css-side-menu ul li {
  float: none;
}
#css-side-menu ul ul li {
  font-weight: normal;
}
/* Custom CSS Styles */
#css-side-menu {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  width: 200px;
}
#css-side-menu ul a,
#css-side-menu ul a:link,
#css-side-menu ul a:visited {
  display: block;
  color: #848889;
  text-decoration: none;
  font-weight: 300;
}
#css-side-menu > ul {
  float: none;
}
#css-side-menu ul {
  background: #FAF5F5;
}
#css-side-menu > ul > li {
  border-left: 3px solid #d7d8da;
}
#css-side-menu > ul > li > a {
  padding: 10px 20px;
}
#css-side-menu > ul > li:hover {
  border-left: 3px solid #3db2e1;
}
#css-side-menu ul li:hover > a {
  color: #3db2e1;
}
#css-side-menu > ul > li:hover {
  background: #f6f6f6;
}
/* Sub Menu */
#css-side-menu ul ul a:link,
#css-side-menu ul ul a:visited {
  font-weight: 400;
  font-size: 14px;
}
#css-side-menu ul ul {
  width: 180px;
  background: none;
  border-left: 20px solid transparent;
}
#css-side-menu ul ul a {
  padding: 8px 0;
  border-bottom: 1px solid #eeeeee;
}
#css-side-menu ul ul li {
  padding: 0 20px;
  background: #fff;
}
#css-side-menu ul ul li:last-child {
  border-bottom: 3px solid #d7d8da;
  padding-bottom: 10px;
}
#css-side-menu ul ul li:first-child {
  padding-top: 10px;
}
#css-side-menu ul ul li:last-child > a {
  border-bottom: none;
}
#css-side-menu ul ul li:first-child:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -20px;
  top: 13px;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}
