@CHARSET "ISO-8859-1";

.wide {
	width: 100%;

	/* height: 100%; */
}


.form-field{
   	
   		width: 100%;
   		padding: 10px;
   		outline: none;
   		border: 2px solid #999999;
   		border-radius: 5px;
		font-size: 27px;
   
   }
   
   .field-width{
   	    width: 100%;
   }



.form-field:focus {
	background-color: #FFFFFF;
	border-color: #333333;
	box-shadow: 0px 0px 25px -2px #333;
	/* background-position: 270px -80px; */
	-webkit-transition: background-color .2s ease-in, background-position
		.2s ease-in, box-shadow .3s ease-in;
	-moz-transition: background-color .2s ease-in, background-position .2s
		ease-in, box-shadow .3s ease-in;
	-o-transition: background-color .2s ease-in, background-position .2s
		ease-in, box-shadow .3s ease-in;
	-ms-transition: background-color .2s ease-in, background-position .2s
		ease-in, box-shadow .3s ease-in;
	transition: background-color .2s ease-in, background-position .2s
		ease-in, box-shadow .3s ease-in;
}

.btn {
  cursor: pointer;
  border-radius: 8px;
  text-decoration: none;
  padding: 10px;
  font-size: 27px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
}


.blue-submit {
  color: #55acee;
  border: 2px #55acee solid;
  background-color: #fff;
}

.blue-submit:hover {
  background-color: #55acee;
  color: #fff
}
