@CHARSET "ISO-8859-1";

.float-right {
	float: right;
}

body {
	margin: 0;
}

#main-content {
	margin: 5%;
	width: 90%;
	height: 85%;
}

#searchBox {
	width: 50%;
	height: 10%;
	display: inline-block;
	float: left;
}

#load-animation {
	display: inline-block;
}

#searchAndChart {
	height: 100%;
	width: 50%;
	float: left;
	display: inline-block;
}

#stockInfoArea {
	width: 50%;
	height: 100%;
	display: inline-block;
}

#chart_div {
	width: 1000px;
	height: 500px;
	display: inline-block;
	margin-top: 25px;
	padding: 0;
	display: inline-block;
}

#stockInfoTable {
	margin-top: 10%;
	padding: 0 19% 0 39%;
}

#marketStatus {
	width: 40%;
	height: 10%;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	position: relative;
	display: inline-block;
	float: right;
}

#watch-div {
	visibility: hidden;
	padding: 0 20% 0 40%;
}

.ui-autocomplete{

		border-radius: 5px;
	
}