@CHARSET "ISO-8859-1";

.float-right {
	float: right;
}
.float-left{
	float: left;
}

body {
	margin: 0;
}

#main-content {
	margin: 5%;
	width: 90%;
	height: 85%;
}

#searchBox {
	width: 35%;
	height: 10%;
	display: inline-block;
	float: left;
}

#load-animation {
	display: inline-block;
	margin-left:5%;
}

#searchAndChart {
	height: 100%;
	width: 50%;
	float: left;
	display: inline-block;
}

#stockInfoArea {
	width: 50%;
	display: inline-block;
}

#chart_div {
	width: 100%;
	height: 500px;
	display: inline-block;
	margin-top: 35px;
	padding: 0;
	display: inline-block;
}

#stockInfoTable {
	margin-top: 11.5%;
	margin-left: 25%;
	width: 50%;
/* 	padding: 0 19% 0 39%;
 */}

#marketStatus {
	width: 39%;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	position: relative;
	display: inline-block;
	float: right;
}

#watch-div {
	visibility: hidden;
	width: 50%;
	margin-left: 25%;
/* 	padding: 0 20% 0 40%;
 */}

.ui-autocomplete{

		border-radius: 5px;
	
}