@CHARSET "ISO-8859-1";

#rules-table {
	font-size: 22px;
}

#rcorners2 {
	border-radius: 25px;
	border: 2px solid #3db2e1;
	padding: 20px;
	width: 100%;

}

#rules-table-div {
	margin-top: 3%;
	height: 30%;
	width: 19%;
}
td{
	padding-right: 5%;
}